colorama==0.4.6
prettytable==3.10.2
rich-argparse==1.5.2
yt-dlp==2024.7.16

# Indirect dependencies
Brotli==1.1.0
certifi==2024.7.4
charset-normalizer==3.3.2
idna==3.7
markdown-it-py==3.0.0
mdurl==0.1.2
mutagen==1.47.0
pycryptodomex==3.20.0
Pygments==2.18.0
requests==2.32.3
rich==13.7.1
urllib3==2.2.2
wcwidth==0.2.13
websockets==12.0
